*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	color: #666;
	font-family: Merienda;
	scroll-behavior: smooth;
}

ul, nav {
	list-style: none;
}

a {
	text-decoration: none;
	opacity: 0.75;
	color: #fff;
}

a:hover {
	opacity: 1;
}

a.btn {
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	background-color: #f8c300;
	opacity: 1;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 80px;
}

.work-area, .contact {
	background-color: #ddd;
}

.content-area {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

section h3.header-text {
	text-transform: uppercase;
	font-family: Baloo;
	margin-bottom: 5px;
	text-align: center;
	font-size: 45px;
}

section p {
	max-width: 700px;
	line-height: 2;
	padding: 0 20px;
	margin-bottom: 30px;
	text-align: center;
}

@media (max-width: 800px){

	section {
		padding: 50px 20px;
	}

}

header {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 100px 0;
	animation: 1s animate 0.5s forwards;
	opacity: 0;
	color: #fff;
	z-index: 10;
}

@keyframes animate {
	100% {
		opacity: 1;
	}
}

header h2 {
	font-family: Baloo;
}

header nav {
	display: flex;
	margin-right: -15px;
}

header nav li {
	margin: 0 15px;
}

@media (max-width: 800px) {
	header {
		padding: 20px 50px;
		flex-direction: column;
	}

	header h2 {
		margin-bottom: 15px;
	}

	header nav li {
		margin: 0 7px;
	}
}

.banner-area {
	position: relative;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
	color: #fff;
}

.banner-area .img-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
	background-image: linear-gradient(to left, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(book1.png);
	background-position: center center;
	

}

.banner-area h1 {
	margin-bottom: 15px;
	font-size: 60px;
}

.banner-area h3 {
	margin-bottom: 40px;
	font-size: 25px;
}

.banner-text {
	opacity: 0;
	margin-top: 100px;
	animation: 1s anime-two 1s forwards;
}

.banner-area a.btn {
	padding: 20px 45px;
}

@keyframes anime-two {
	100% {
		opacity: 1;
		margin: 0;
	}
}

@media (max-width: 800px) {

	.banner-area {
		min-height: 600px;
	}

	.banner-area h1 {
		font-size: 28px;
	}

	.banner-area h3 {
		font-size: 24px;
	}

	.banner-area a.btn {
		padding: 15px 40px
	}

}